* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(55,0,111,0.8),rgba(55,0,111,0.8)),url('../images/fosterbuilding.jpg');
    background-position: center;
    background-size: 150%;
    height: 70px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

header h1 {
    color: white;
    font-style: italic;
    font-size: 30px;
    margin-top: 21px;
    text-align: center;
}

header .logo a {
    background-image: url('../images/transparent_logo.png');
    background-size: 80px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 70px;
    position: relative;
    text-indent: -9999999px;
    top: 5px;
    width: 90px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(145,123,76)
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(46,46,46);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Calendar */

.event-container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.event-container h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}

.event .event-left {
    background: #222;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left .date {
    font-size: 56px;
}

.event .event-left .month {
    font-size: 16px;
    font-weight: normal;

}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
}

.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: rgb(55,0,111);
    text-transform: uppercase;
}

.event .event-right .event-timing {
    background: rgb(232,211,162);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

@media (max-width: 550px) {
    .event {
        flex-direction: column;
    }

    .event .event-left {
        padding: 0;
        border-radius: 8px 8px 0 0;
    }

    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
        display: inline-block;
        font-size: 24px;
    }

    .event .event-left .event-date {
        padding: 10px 0;
    }
}